.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login-card {
    width: 200px;
    padding: 20px;
    text-align: center;
  }

  h1{
    font-size: 30px;
  }

  p{
    font-weight: bold;
  }
}
